<div ng-controller="PeekAdmUpdatePappCtrl" class="panel panel-default">

    <!-- Default panel contents -->
    <div class="panel-heading">Update Peek App</div>
    <div class="panel-body" ng-hide="serverRestarting">

        <p>Update a Peek App software version</p>


            <div ng-hide="pageData.supportExceeded"
             ng-model="files" class="panel panel-warning"
             ngf-drag-over-class="'panel-success'"
             ngf-multiple="false"
             ngf-allow-dir="false"
             ngf-drop="upload($files, $event, $rejectedFiles)"
             accept="'*.tar.bz2'">

            <div class="panel-heading">
                <h3>
                    <span class="glyphicon glyphicon-flash"></span>
                    <small ng-hide="progressPercentage">
                        Drop Peek App Release Here
                    </small>
                    <small ng-show="progressPercentage">
                        Uploading, {{progressPercentage}}% done.
                    </small>
                </h3>

            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>App</th>
                <th>Name</th>
                <th>Creator</th>
                <th>Website</th>
                <th>Version</th>
                <th>Build</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ver in pappVersions">
                <td>{{ver.title}}</td>
                <td>{{ver.name}}</td>
                <td>{{ver.creator}}</td>
                <td><a ng-href="https://{{ver.website}}">{{ver.website}}</a></td>
                <td>{{ver.version}}</td>
                <td>{{ver.buildNumber}}</td>
            </tr>

            </tbody>
        </table>

    </div>

</div>